fastapi
uvicorn[standard]
streamlit
python-dotenv

langchain
langgraph
langchain-community
langchain-groq
langchain-google-genai

google-generativeai

qdrant-client
flashrank
sentence-transformers

python-docx
python-pptx
pypdf
pdfplumber
beautifulsoup4

nemoguardrails
portkey-ai

langsmith
langfuse
logfire[fastapi,requests]
loguru

ragas
deepeval